.lableWithoutValidation p {

    font-size: 14px;
    font-weight: 400;
    color:  rgb(94, 88, 115);
    line-height: 18px;
}
.inputWhioutValidation,.formCreateUser input,.formCreateUser select{

    border: 1px solid #d8d6de;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(94, 88, 115);
    font-size: 14px;
}
.inputWhioutValidation::placeholder,.formCreateUser input::placeholder ,.formCreateUser select::placeholder{
    padding: 10px;
    margin: 10px;
}
.inputWhioutValidation:focus,.formCreateUser input:focus,.formCreateUser select:focus{
    border:1px solid rgb(115, 103, 240);
    outline: none;
}
